/* CustomAlertDialog.css */
.alert-dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
  }
  
  .alert-dialog {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
  }
  
  .alert-dialog-buttons {
	margin-top: 20px;
  }
  
  .alert-dialog-buttons button {
	margin: 0 10px;
	padding: 6px 30px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
  }
  
  .cancel-btn {
	background-color: #f44336;
	color: white;
  }
  
  .ok-btn {
	background-color: #4caf50;
	color: white;
  }
  